.btn {
    &--start {
        padding: $btn-start-padding;
        font-size: $btn-start-font-size;
        display: flex;
        max-width: $btn-start-max-width;
        max-height: $btn-start-max-height;
        margin: auto;
        padding: 3rem;
        transition-property: background;
        transition-duration: 4s;

        &:hover {
            cursor: pointer;
            background: $color-red;
            color: $color-white;
        }
    }

    &--text {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.player-greet__button-next {
    max-width: 20%;
    margin: auto;
    padding: 3rem;
    background: #065535;
    color: #fff;
    font-size: 4.3rem;

    &:hover {
        background: #008000;

        animation: grow-shrink 1s forwards ease infinite;

        @keyframes grow-shrink {
            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}

.player-info__btn-submit {
    padding: 3rem;
    background: #065535;
    color: #fff;
    max-width: 23%;
    font-size: 3rem;
    margin-left: 27rem;
    margin-top: 7rem;

    &:hover {
        background: #008000;

        animation: grow-shrink 1s forwards ease infinite;

        @keyframes grow-shrink {
            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}

.player-info__btn {
    &--next {
        margin-left: 40%;

        &-link {
            text-decoration: none;
            color: #fff;
        }
    }

}