.btn {
    &--start {
        padding: $btn-start-padding;
        font-size: $btn-start-font-size;
        display: flex;
        max-width: $btn-start-max-width;
        max-height: $btn-start-max-height;
        margin: auto;
        padding: 3rem;
        transition-property: background;
        transition-duration: 4s;

        &:hover {
            cursor: pointer;
            background: $color-red;
            color: $color-white;
        }
    }

    &--text {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.player-greet__button-next {
    max-width: 20%;
    margin: auto;
    padding: 3rem;
    background: #065535;
    color: #fff;
    font-size: 4.3rem;

    &:hover {
        background: #008000;

        animation: grow-shrink 1s forwards ease infinite;

        @keyframes grow-shrink {
            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}

.player-info__btn-submit {
    padding: 3rem;
    background: #065535;
    color: #fff;
    max-width: 23%;
    font-size: 3rem;
    margin-left: 27rem;
    margin-top: 7rem;

    &:hover {
        background: #008000;

        animation: grow-shrink 1s forwards ease infinite;

        @keyframes grow-shrink {
            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}

.player-info__btn {
    &--next {
        margin-left: 40%;

        &-link {
            text-decoration: none;
            color: #fff;
        }
    }

}

.player-status__button-box {
    display: flex;
    justify-content: space-between;


    &--disable {
    // disable action buttons if not in combat
    cursor: not-allowed;
    pointer-events: none;
    }

    &__attack-button {
        font-size: 5rem;
        padding: 2rem;

        &--disable {
            color: #c0c0c0;
            background-color: #ffffff;
        }

        &:hover {
            background: #008000;
            color: red;
    
            animation: grow-shrink 1s forwards ease infinite;
    
            @keyframes grow-shrink {
                50% {
                    transform: scale(1.2);
                }
    
                100% {
                    transform: scale(1);
                }
            }
        }
    }

    &__skills-button {
        font-size: 5rem;
        padding: 2rem;

        &--disable {
            color: #c0c0c0;
            background-color: #ffffff;
        }

        &:hover {
            background: #008000;
            color: yellow;
    
            animation: grow-shrink 1s forwards ease infinite;
    
            @keyframes grow-shrink {
                50% {
                    transform: scale(1.2);
                }
    
                100% {
                    transform: scale(1);
                }
            }
        }
    }

    &__items-button {
        font-size: 5rem;
        padding: 2rem;

        &--disable {
            color: #c0c0c0;
            background-color: #ffffff;
        }

        &:hover {
            background: #008000;
            color: white;
    
            animation: grow-shrink 1s forwards ease infinite;
    
            @keyframes grow-shrink {
                50% {
                    transform: scale(1.2);
                }
    
                100% {
                    transform: scale(1);
                }
            }
        }
    }
}

.explore-tower {
    display: flex;
    font-size: 3rem;
    position: absolute;
    top: 13%;
    left: 33%;
    right: 50%;
    width: 100%;

    &__btn {
        &:hover {
            background: #008000;
            color: white;
    
            animation: grow-shrink 1s forwards ease infinite;
    
            @keyframes grow-shrink {
                50% {
                    transform: scale(1.2);
                }
    
                100% {
                    transform: scale(1);
                }
            }
        }
    }
}

.explore-tower {
    padding: 3rem;
    font-size: 3rem;
    position: absolute;
    top: 51rem;
    left: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    width: 16%;

    &:hover {
        background: #008000;
        color: white;

        animation: grow-shrink 1s forwards ease infinite;

        @keyframes grow-shrink {
            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}