.player-greet {
    display: none;
    
    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 19rem;

           & > p {
           height: 100%;
           max-width: 100%;
           text-align: center;
           line-height: 1.5;
           font-size: 6.7rem; 
       }
    }

    &__player-instruction {
        font-size: 4rem;
        margin: auto;
        max-width: 67%;
        margin-top: 27rem;
        display: none;
    }
}

.player-greet__paragraph-1 {
    opacity: 0;

    &--fade-in-1 {
        animation: fade-in 4s forwards ease;

        @keyframes fade-in {
            50% {
                opacity: .5;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

.player-greet__paragraph-2 {
    opacity: 0;

    &--fade-in-2 {
        animation: fade-in 6s forwards ease;

        @keyframes fade-in {
            50% {
                opacity: .5;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

.player-greet__paragraph-3 {
    opacity: 0;
    margin-right: 0;

    &--fade-in-3 {
        animation: fade-in 8s forwards ease-out;

        @keyframes fade-in {
            99% {
                opacity: .5;
            }

            100% {
                opacity: 1;
            }
        }        
    }

    &--period-1 {
        animation: period-1 5s forwards ease;

        @keyframes period-1 {
            50% {
                margin-right: 3rem
            }

            100% {
                margin-right: 0;
            }
        }
    }

    &--period-2 {
        animation: period-2 8s forwards ease;

        @keyframes period-2 {
            50% {
                margin-right: 2rem
            }

            100% {
                margin-right: 0;
            }
        }
    }

    &--period-3 {
        animation: period-3 8s forwards ease;

        @keyframes period-3 {
            50% {
                margin-right: 1rem
            }

            100% {
                margin-right: 0;
            }
        }
    }

    &--question-mark {
        animation: period-3 10s forwards ease;

        @keyframes period-3 {
            50% {
                margin-right: .5rem
            }

            100% {
                margin-right: 0;
            }
        }
    }
}
