.player-info {
    display: none;
    margin-top: 27rem;

    &__form {
        margin: 0 auto;
    }

    &__label {
        margin: 0 auto;
        font-size: 4rem;
    }

    &__input-name {
        padding: 2rem;
        font-size: 3rem;
    }

    &__form--drop-down {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    &__player-class {
        font-size: 3rem;
    }

    &__player-class-select {
        padding: 3rem;
        font-size: 3rem;
    }

}