.player-options-container {
    position: absolute;
    top: -99999999rem;

    &__revert-position {
        position: inherit;
        
    }
}

.player-options {
    
    &__player-list {
        font-size: 5rem;
        position: absolute;
        top: 0;
        margin-top: 12rem;
        padding-left: 2rem;

        &__stats {

            &:hover {
                cursor: pointer;
                color: #008000;
                animation: grow-shrink 1s forwards ease infinite;

                @keyframes grow-shrink {
                    50% {
                        transform: scale(1.2);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }
        }

        &__items {
            &:hover {
                cursor: pointer;
                color: #008000;
                animation: grow-shrink 1s forwards ease infinite;

                @keyframes grow-shrink {
                    50% {
                        transform: scale(1.2);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    &__player-floor-level {
        font-size: 3.7rem;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 12rem;
        padding-right: 2rem;
    }
}


.player-stats {
    display: flex;
    font-size: 3rem;
    position: absolute;
    top: 13%;
    left: 33%;
    right: 50%;
    width: 100%;
    margin-bottom: 2.3rem;

    &__ul {
        border: 1.3rem solid black;
        width: 34%;
        text-align: center;
        padding-top: 4.3rem;
        padding-bottom: 4.3rem;
        line-height: 1.8;
    }
}

.player-stats-display {
    z-index: -1;
    opacity: 0;
}