.player-status {
    width: 50%;
    border: .5rem solid black;
    padding: 2.8rem;
    margin-top: 45rem;
    text-align: center;
    margin-left: 36rem;

    &__opacity {
        display: none;
    }
    
    
    // margin: 0 auto;
    
    &__border-box {
        
    }

    &__combat-info {
        font-size: 3.4rem;
        margin-bottom: 3rem;
    }
}

.player-history-box {
    font-size: 3.5rem;
    position: absolute;
    top: 11rem;
    border: 1rem solid black;
    width: 45%;
    left: 26%;
    height: 47vh;
    text-align: left;
    overflow: auto;
    line-height: 1.2;
}