// Font
$font: 'Amarante', Arial, Helvetica, sans-serif;

// Genrral Numbers
$base-font-size: 62.5%;

// ------BTN-START VARIABLES-------
$btn-start-font-size: 3.5rem;
$btn-start-padding: 2rem 5rem;
$btn-start-max-width: 20%;
$btn-start-max-height: 20%;

// ------ HEADER VARIABLES --------
$title-box-shadow: 0px 41px 2px -19px rgba(0, 0, 0, 0.3);

